;Fontamesome Authentication
@fortawesome:registry= https://npm.fontawesome.com/
registry=https://pkgs.dev.azure.com/nassa/_packaging/nassa/npm/registry/
//npm.fontawesome.com/:_authToken=D584EF04-4724-446D-A6D5-070CF08264FC
always-auth=true

; begin auth token
//pkgs.dev.azure.com/nassa/_packaging/nassa/npm/registry/:username=nassa
//pkgs.dev.azure.com/nassa/_packaging/nassa/npm/registry/:_password=NnNxbm1mdTcyb2FnNnV1bDJ2cG5jZ2xrZjNhbHNwcWIzamUzdXd5cHJ1dnVrdnJ5cnZmcQ==
//pkgs.dev.azure.com/nassa/_packaging/nassa/npm/registry/:email=hguerrero@assanet.com
//pkgs.dev.azure.com/nassa/_packaging/nassa/npm/:username=nassa
//pkgs.dev.azure.com/nassa/_packaging/nassa/npm/:_password=NnNxbm1mdTcyb2FnNnV1bDJ2cG5jZ2xrZjNhbHNwcWIzamUzdXd5cHJ1dnVrdnJ5cnZmcQ==
//pkgs.dev.azure.com/nassa/_packaging/nassa/npm/:email=hguerrero@assanet.com
; end auth token